.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.list-item {
    margin: 5px 0;
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.name {
    font-size: 16px;
    flex: 1;
}

.heading {
    font-size: 24px;
    margin-bottom: 10px;
	text-align: center;
}

